#navi{
    height: 150px;
    background-color: rgb(207, 237, 232);
    border-radius: 10px;
    border-top-color: red;
    border-left-color:yellow ;
  
    

}

#login{
    margin: 30px 0 30px 0;
    border-width: 2px;
    border-radius: 20px;
    border-right-color: rgb(179, 255, 0);
    border-bottom-color: rgb(244, 8, 8);
    background-color: rgba(14, 95, 111, 0.349);
    height:350px; 
    width: 400px;
    margin-left: 500px;
    margin-right: 300px;
   

}
.acc{
    width: 100%;
    background-color: rgb(195, 214, 195);
    border-radius: 10px;
    border: 3px;
    border-left-color: black;
    border-top-color: crimson;

}
.acc>a{
    text-decoration: none;
    text-align: center;
   
  
}

#first{
     width: 100%;
    border-radius: 10px;
    background-color:rgb(103, 154, 154);
    height: 40px;
    font-size: 30px;
}

#logo{
    background-position: no-repeat;
    background-size:cover;
    background-image: url("logo.jpg");
    height: 200px;
    width: 200px;
    border-radius: 50%;

}


.login1>input{
    border-radius: 10px;
    border: 1px solid red;
    width: 50%;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.submit>input{
   
    border-radius: 10px;
    width:100% ;
    box-shadow: 100pc;
    border-width: 3px;
    border-left-color: crimson;
    border-bottom-color: pink;
 }
 input:hover,.acc:hover,#first:hover{
    background-color: rgb(43, 214, 226);
    box-shadow: 10pc;
    border-color: pink;
 }
 #login:hover{
    background-color: rgb(180, 214, 208);
 }
 body{
   background-image:url("Main.jpg") ;
   background-position: no-repeat;
   background-size: cover;
   

 }
 p{
    margin:2px 50px 2px 50px;
 }